
body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set minimum height of the container to 100% of viewport height */
}

.flex-grow-1 {
  flex-grow: 1; /* Expand the main content to take available space */
}